snippet checke "Check Error" br
if err != nil {
	return err
}
${0}
endsnippet

snippet ie "Check Error" br
if err != nil {
	panic(err)
}
${0}
endsnippet

snippet st "Println" br
fmt.Println(${1})${0}
endsnippet

snippet start "Starting code" br
package main

import (
	"fmt"
)

func main() {
	fmt.Println("hello")
}
endsnippet

snippet cq "Current Question" br
app.result.questions[app.curResultIndex]${0}
endsnippet
